.pageindex {
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
}

.pageindex__container {
  /* width: 75%; */
  /* margin-right: 2.5rem; */
}

.pageindex__title {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.75rem;
}

.pageindex__posts {
  display: grid;
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .pageindex__posts {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .pageindex__posts {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 5rem;
    row-gap: 2rem;
  }
  .search {
    display: none;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
}
