.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.pageindex__title {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.75rem;
}

.pageindex__posts {
  display: grid;
}

.pageindex__container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sidebar__container {
  display: none;
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .pageindex__posts {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .pageindex__posts {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 5rem;
    row-gap: 2rem;
  }
  .search {
    display: none;
  }
  .container {
    flex-direction: row;
    justify-content: space-between;
  }
  .sidebar__container {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    margin-left: 0.25rem /* 4px */;
    margin-right: 0.25rem /* 4px */;
    flex-direction: column;
    padding-left: 3rem;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
}
