.article {
  width: 100%;
  /* padding-bottom: 2rem; */
}

.cover__image {
  padding-top: 3rem;
  width: 100%;
  /* border-radius: 1rem; */
  margin: auto;

}

.article__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article__title {
  font-size: 2.5rem /* 48px */;
  line-height: 1;
  margin-bottom: 1rem /* 28px */;
}

/* begin markdown content*/

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.socials {
  display: flex;
  justify-content: center;
}

.social__item {
  margin: 2.8rem;
}
