.list {
  width: 16rem/* 288px */;
}

.list__title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  padding-top: 1.25rem;
  padding-bottom: 0.5rem;
  font-weight: 700;
}

.list__container {
  display: flex;
  flex-wrap: wrap;
}

.list__element {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgba(55, 65, 81, var(--tw-bg-opacity));
  border-radius: 0.5rem;
  cursor: pointer;
}

.list__element:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(107, 114, 128, var(--tw-bg-opacity));
}
