.main {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 1260px;
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .main {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /* .main { */
  /*   padding-left: 10rem; */
  /*   padding-right: 10rem; */
  /* } */
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /* .main { */
  /*   padding-left: 15rem; */
  /*   padding-right: 15rem; */
  /* } */
}
