.container {
  display: flex;

  width: 100%;
  /* justify-content: center; */
  /* align-items: center; */
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  background-color: #1e2127;
  border-radius: 0.5rem;
  margin-top: 1rem;
  cursor: pointer;
  /* --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), */
  /*   0 2px 4px -1px rgba(0, 0, 0, 0.06); */
  /* box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), */
  /*   var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow); */
}

.item {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  padding-top: 1rem;
  font-size: 1.5rem /* 24px */;
  line-height: 2rem /* 32px */;
  --tw-text-opacity: 1;
  color: rgba(209, 213, 219, var(--tw-text-opacity));
  font-weight: 700;
}

.body {
  margin-top: 0.5rem;
}

.body a {
  font-size: 1.5rem;
  line-height: 2rem;
  --tw-text-opacity: 1;
  color: rgba(209, 213, 219, var(--tw-text-opacity));
  font-weight: 700;
}

.body p {
  --tw-text-opacity: 1;
  color: rgba(156, 163, 175, var(--tw-text-opacity));
  /* margin-top: 0.5rem; */
}

.readmore {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.readmore a {
  --tw-text-opacity: 1;
  color: rgba(209, 213, 219, var(--tw-text-opacity));
}

.item:hover .title a {
  --tw-bg-opacity: 1;
  color: rgba(99, 102, 241, var(--tw-bg-opacity));
}

.item:hover .readmore a:after {
  /* content: ' »'; */
  content: ' ➜';
  --tw-bg-opacity: 1;
  color: rgba(99, 102, 241, var(--tw-bg-opacity));
  transition: 1s;
}
