.searchresults {
  position: absolute;
  /* top: 10rem; */
  margin-top: 2rem;
  z-index: 10;
  --tw-border-opacity: 1;
  border-color: rgba(55, 65, 81, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(55, 65, 81, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(229, 231, 235, var(--tw-text-opacity));
  width: 100%;
  border-radius: 1rem;
}

.searchresults__container {
  padding: 0.75rem;
}

.searchresults__count {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 0.75rem;
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .searchresults {
    position: absolute;
    top: 2rem /* 80px */;
    z-index: 10;
    --tw-border-opacity: 1;
    border-color: rgba(55, 65, 81, var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(55, 65, 81, var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgba(229, 231, 235, var(--tw-text-opacity));
    width: 100%;
    border-radius: 1rem /* 16px */;
  }

  .searchresults__container {
    padding: 0.75rem /* 12px */;
  }

  .searchresults__count {
    font-size: 1.5rem /* 24px */;
    line-height: 2rem /* 32px */;
    margin-bottom: 0.75rem /* 12px */;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
}
