.sociallist {
  width: 16rem /* 288px */;
}

.sociallist__title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  padding-top: 1.25rem;
  padding-bottom: 0.5rem;
  font-weight: 700;
}

.sociallist__item {
  display: flex;
  margin-left: 0.25rem;
  vertical-align: middle;
  justify-content: flex-start;
  align-items: center;
}

.sociallist__name {
  font-size: 1.125rem/* 18px */;
  line-height: 1.75rem/* 28px */;
  --tw-text-opacity: 1;
  color: rgba(209, 213, 219, var(--tw-text-opacity));
  padding: 0.5rem;
  cursor: pointer;
}

.sociallist__name:hover {
  --tw-text-opacity: 1;
  color: rgba(165, 180, 252, var(--tw-text-opacity));
}


