.notfound__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem/* 80px */;
}

.notfound__image {
  --tw-bg-opacity: 1;
  background-color: rgba(31, 41, 55, var(--tw-bg-opacity));
  border-radius: 1rem/* 16px */;
}

.notfound__title {
  color: #d19a66;
  font-size: 3.75rem/* 60px */;
  line-height: 1;
  margin-top: 1.25rem/* 20px */;
  margin-bottom: 1.25rem/* 20px */;
}

.notfound__message {
  font-size: 2.25rem/* 36px */;
  line-height: 2.5rem/* 40px */;
  --tw-text-opacity: 1;
  color: rgba(156, 163, 175, var(--tw-text-opacity));
  margin-bottom: 1.25rem/* 20px */;
}
