.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.75rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgba(45, 55, 71, var(--tw-bg-opacity));
  border-radius: 1.5rem;
  margin-bottom: 1.5rem;
  width: 100%;
}

.card p {
  --tw-text-opacity: 1;
  color: rgba(209, 213, 219, var(--tw-text-opacity));
  margin-left: 2rem;
  font-size: 1.5rem;
}

.card span {
  --tw-text-opacity: 1;
  color: rgba(2, 213, 219, var(--tw-text-opacity));
}
