.home__container {
  display: flex;
  position: relative;
  padding-top: 1rem/* 16px */;
  padding-bottom: 1rem/* 16px */;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  justify-content: flex-start;
}

@media (min-width: 640px) {
  .home__container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .home__container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .home__container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .home__container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .home__container {
    max-width: 1280px;
  }
}

.home__image__container {
  padding-left: 1.25rem/* 40px */;
  padding-right: 2.5rem/* 40px */;
  width: 12rem/* 224px */;
}

.home__image {
  width: 10rem/* 160px */;
  border-radius: 9999px;
}

.home__intro {
  --tw-bg-opacity: 1;
  background-color: rgba(55, 65, 81, var(--tw-bg-opacity));
  padding: 0.75rem/* 12px */;
  border-radius: 1rem/* 16px */;
  --tw-text-opacity: 1;
  color: rgba(229, 231, 235, var(--tw-text-opacity));
  width: 22rem/* 288px */;
}

.home__post__container {
  display: flex;
  /* flex-grow: 7; */
  justify-content: space-between;
}

.home__post__title {
  font-size: 1.25rem/* 20px */;
  line-height: 1.75rem/* 28px */;
  padding-top: 2.5rem/* 80px */;
  padding-left: 2.5rem/* 40px */;
  padding-right: 2.5rem/* 40px */;
  font-weight: 700;
}

.home__post__list {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.home__post__button__wrapper {
  padding-left: 2rem/* 32px */;
  padding-right: 2rem/* 32px */;
}

.home__post__button {
  display: block;
  padding-left: 2.5rem/* 40px */;
  padding-right: 2.5rem/* 40px */;
  text-align: center;
  cursor: pointer;
  border-width: 1px;
  font-weight: 700;
  --tw-border-opacity: 1;
  border-color: rgba(55, 65, 81, var(--tw-border-opacity));
  --tw-text-opacity: 1;
  color: rgba(229, 231, 235, var(--tw-text-opacity));
  border-radius: 0.375rem/* 6px */;
  padding-top: 1rem/* 16px */;
  padding-bottom: 1rem/* 16px */;
  margin-top: 1.25rem/* 20px */;
  margin-bottom: 1.25rem/* 20px */;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
  user-select: none;
  --tw-bg-opacity: 1;
  background-color: rgba(67, 56, 202, var(--tw-bg-opacity));
  width: 100%;
}

.test {
  display: flex;
  margin-left: 2.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  --tw-bg-opacity: 1;
  background-color: rgba(55, 65, 81, var(--tw-bg-opacity));
  border-radius: 1rem/* 16px */;
  --tw-text-opacity: 1;
  color: rgba(229, 231, 235, var(--tw-text-opacity));
}

.home__post__button:hover {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.home__post__button:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(79, 70, 229, var(--tw-bg-opacity));
}

.home__post__button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.home__sidebar__container {
  flex-shrink: 0;
  justify-content: flex-end;
  margin-left: 0.25rem/* 4px */;
  margin-right: 0.25rem/* 4px */;
  flex-direction: column;
}
