.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.introcard {
  display: none;
  flex-direction: column;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgba(45, 55, 71, var(--tw-bg-opacity));
  border-radius: 1.5rem;
  margin-bottom: 1.5rem;
}

.intro__image {
  width: 10rem /* 160px */;
  border-radius: 9999px;
}

.intro__message {
  /* padding: 0.75rem; */
  margin-left: 1rem;
  /* border-radius: 1rem; */
  /* --tw-text-opacity: 1; */
  /* color: rgba(229, 231, 235, var(--tw-text-opacity)); */
  /* width: 28rem; */
  /* font-size: 1.2rem; */
}

.posts__container {
  width: 100%;
  /* display: flex; */
  /* flex-direction: column; */
}

.posts__title {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.75rem;
  /* padding-top: 4.5rem; */
  /* padding-left: 2.5rem; */
  /* padding-right: 2.5rem; */
}

.home__post__button__wrapper {
  padding-left: 2rem /* 32px */;
  padding-right: 2rem /* 32px */;
}

.home__post__button {
  display: block;
  padding-left: 2.5rem /* 40px */;
  padding-right: 2.5rem /* 40px */;
  text-align: center;
  cursor: pointer;
  border-width: 1px;
  font-weight: 700;
  --tw-border-opacity: 1;
  border-color: rgba(55, 65, 81, var(--tw-border-opacity));
  --tw-text-opacity: 1;
  color: rgba(229, 231, 235, var(--tw-text-opacity));
  border-radius: 0.375rem /* 6px */;
  padding-top: 1rem /* 16px */;
  padding-bottom: 1rem /* 16px */;
  margin-top: 1.25rem /* 20px */;
  margin-bottom: 1.25rem /* 20px */;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
  user-select: none;
  --tw-bg-opacity: 1;
  background-color: rgba(67, 56, 202, var(--tw-bg-opacity));
  width: 100%;
}

.home__post__button:hover {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.home__post__button:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(79, 70, 229, var(--tw-bg-opacity));
}

.home__post__button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.home__sidebar__container {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  margin-left: 0.25rem /* 4px */;
  margin-right: 0.25rem /* 4px */;
  flex-direction: row;
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .search {
    display: none;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
}
